* {
  font-family: 'Open Sans';
}

.container.visible-xs > .col-xs-12 {
  text-align: center;
}

.avatar {
  width: 165px;
  height: 230px;
}

@media (min-width: 0px) and (max-width: 767px) {

  p.lead {
    font-size: 18px;
  }

  .page-header h1 {
    font-size: 2em;
  }

  body > .container {
    padding: 0 5% 0;
  }

}
